/*Cosas generales*/
*{
    margin: 0px;
    text-decoration: none;
}

/*Banner*/
.cabecera{
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: #0D0D0D;
    align-items: center;
    padding: 30px;
}

/*Información medio del banner*/
.info{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.cabecera img{
    height: 100px;
}

/*Barra de navegación*/
.navBar{
    height: 70px;
    background-color: #262626;
}

.listaNavBar a, li{
    color: white;
}

.listaNavBar{
    font-family: 'Times New Roman';
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 150px;
}

.listaNavBar a:hover{
    color: aquamarine;
}

/*Sobre mí*/

.tituloSobreMi{
    background-color: #404040;
    height: 60px;
}
.tituloSobreMi p{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

/*Parte de descipción*/
.sobreMi{
    display: flex;
    background-color: #404040;
}

.foto img{
    height: 397px;
}

/*Descripción derecha*/
.infoul{
    height: 201px;
    align-items: center;
    padding: 100px 200px;
}

.infoul li{
    font-family: 'Times New Roman';
    font-size: 30px;
}

/*Estudios*/

.tituloEstudios{
    background-color:#666666;
    padding: 50px;
    height: 80px;
}
.tituloEstudios p{
    font-size: 30px;
    text-align: center;
    color: white;
}
.estudios{
    background-color: #666666;
    display: flex;
    height: 450px;
    justify-content: space-between;
    padding: 20px 100px;
}


.bolivariano p{
    color: white;
    font-size: 25px;
}
.bolivariano img{
    height: 180px;
    border-radius: 90px;
    position: relative;
    left: 17px;
}


.iesa img{
    height: 180px;
    border-radius: 90px;
    position: relative;
    left: 140px;
}
.iesa p{
    color: white;
    font-size: 25px;
    position: relative;
    left: 70px;
}


.ufps img{
    height: 180px;
    border-radius: 130px;
    position: relative;
    left: 130px;
}
.ufps p{
    color: white;
    font-size: 25px;
}

/*Cerficados*/

.tituloCertificados{
    background-color:#404040;
    padding: 50px;
    height: 80px;
}
.tituloCertificados p{
    font-size: 30px;
    text-align: center;
    color: white;
}

.certificados{
    background-color: #404040;
    display: flex;
    height: 500px;
    justify-content: space-between;
    padding: 20px 300px;
}

.oracle img{
    height: 180px;
    border-radius: 130px;
    position: relative;
    left: 80px;
}
.oracle{
    color: white;
    font-size: 25px;
}

.platzi img{
    height: 180px;
    border-radius: 130px;
    position: relative;
    left: 80px;
}
.platzi{
    color: white;
    font-size: 25px;
}

/*Aptitudes*/

.tituloHabilidades{
    background-color:#666666;
    padding: 50px;
    height: 80px;
}
.tituloHabilidades p{
    font-size: 30px;
    text-align: center;
    color: white;
}

/*Programación*/

.aptitudes{
    background-color: #666666;
    height: 300px;
    display: flex;
    padding: 0px 300px;
    justify-content: space-between;
}
.aptitudes p{
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman';
}
.aptitudes img{
    height: 30px;
}

.java{
    display: flex;
}
.sql{
    display: flex;
}
.cpp{
    display: flex;
}

.espanol{
    display: flex;
}
.ingles{
    display: flex;
}


/*Contactos*/

.tituloContacto{
    background-color:#1D1D1D;
    padding: 50px;
    height: 80px;
}
.tituloContacto p{
    font-size: 30px;
    text-align: center;
    color: white;
}
.contactos{
    background-color: #1D1D1D;
    height: 200px;
    display: flex;
    padding: 0px 300px;
    justify-content: space-between;
}
.contactos p{
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman';
}
.contactos img{
    height: 30px;
}

.ctelefono{
    display: flex;
}
.ccorreo{
    display: flex;
}
.clinkedin{
    display: flex;
}
.cfacebook{
    display: flex;
}
.cinstagram{
    display: flex;
}
